.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    /* background: rgba(255, 255, 255, 0.25); */
    background-color: var(--white-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;
        position: relative;
        padding: 0.2rem;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        a {
            color: var(--gray-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.9rem;
            transition: all 0.1s ease-in-out;
            padding: 0.2rem;
            display: block;

            &:hover {
                color: var(--black-color);
            }

            &.active {
                font-weight: 600;
                color: var(--black-color);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -1px;
                    width: 25px; /* fixed underline width */
                    height: 2px;
                    background-color: var(--black-color);
                    transform: translateX(-50%);
                }
            }
        }

        &:hover {
            div {
                background: transparent;
                position: absolute;
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    margin-left: auto;
    transition: transform 0.2s ease;
    z-index: 20;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    svg {
        width: 70%;
        height: 70%;
        color: var(--white-color);
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

.app__navbar-menu-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url('../../assets/bgWhite.png');
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
    z-index: 15;

    .app__navbar-menu-button {
        margin: 0.5rem 1rem;  
        cursor: pointer;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        li {
            margin: 1rem;

            a {
                color: var(--gray-color);
                text-decoration: none;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                transition: all 0.1s ease-in-out;

                &:hover {
                    color: var(--black-color);
                }

                &.active {
                    font-weight: 700;
                    color: var(--secondary-color);
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -4px;
                        width: 25px; /* fixed underline width */
                        height: 2px;
                        background-color: var(--secondary-color);
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}